[submodule "themes/portio"]
	path = themes/portio
	url = git@github.com:StaticMania/portio-hugo.git
[submodule "themes/academia"]
	path = themes/academia
	url = git@github.com:themefisher/academia-hugo.git
